@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fontes/OpenDyslexic-Regular.eot');
    src: url('../fontes/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/OpenDyslexic-Regular.woff2') format('woff2'),
        url('../fontes/OpenDyslexic-Regular.woff') format('woff'),
        url('../fontes/OpenDyslexic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'OpenDyslexic';
}
